/* FONTS */
/* font-family: 'Quicksand', sans-serif;*/
/*font-family: 'Roboto', sans-serif; */

/*********************ID SELECTORS*********************/

div.main-container {
  background-color: #eeeeee;
  border-radius: 5px;
  padding: 10px;
  font-family: "Quicksand", sans-serif;
  color: #34495e;
}

div.main-heading {
  padding: 10px;
  text-align: center;
  font-weight: 700;
}

div.main-heading p {
  text-align: center;
  margin: 0;
  font-weight: 400;
}

div.main-image {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

div.image {
  padding: 10px;
  border-radius: 2px;
}

div.image-caption {
  padding: 10px;
  font-weight: 100;
}

div.image img {
  max-width: 70%;
  margin: 0 auto;
}

div.image-caption p {
  max-width: 70%;
  margin: 0 auto;
}

div.main-text {
  padding: 10px;
}

div.text-title h2 {
  text-align: center;
}

div.text-article p {
  padding: 20px;
  width: 70%;
  margin: 0 auto;
  word-spacing: 2px;
  line-height: 2;
  font-weight: bold;
}
div.text-article ul {
  width: 60%;
  margin: 0 auto;
  word-spacing: 5px;
  line-height: 1.5;
}

div.text-article ul li {
  padding: 10px 0;
  font-weight: 400;
}

div.text-article a {
  text-decoration: none;
  color: #f08080;
  font-weight: 700;
}

div.text-quote {
  margin: 20px auto;
  padding: 10px;
}
div.text-quote blockquote {
  padding: 5px;
  width: 55%;
  margin: 0 auto;
  font-style: italic;
  font-family: "Roboto", monospace;
  font-weight: 400;
}
div.text-quote #cite {
  text-indent: 20px;
  font-weight: 300;
  font-family: "Roboto", monospace;
  font-size: 0.9rem;
  /* width: 60%; */
  /* margin: 0 auto; */
  /* text-align: center; */
}

.main-footer {
  padding: 10px;
  margin: 10px 0;
  text-align: center;
}

div.footer-text p {
  padding: 5px;
  width: 60%;
  margin: 0 auto;
  font-style: italic;
  font-family: "Roboto", monospace;
  font-weight: 400;
}

div.footer-text a {
  text-decoration: none;
  color: #008080;
}

/*********************ID SELECTORS*********************/

#bullet-color {
  color: #008080;
  font-size: 700;
}
